
<h2>todos</h2>

<div class="col-md-3"></div>

<div class="col-md-6">
  <%= simple_form_for @new_list do |f| %>
    <%= f.input :content, label: false %>
  <% end %>

  <% @lists.each do |list| %>
    <%= form_for list do |f| %>
      <div class="input-group">
        <%= f.text_field :content, class: 'form-control' %>
        <span class="input-group-addon">
          <%= link_to "x", list_path(list), method: :delete %>
        </span>
      </div>
    <% end %>
  <% end %>
</div>
