
<%= render "new_board_form" %>

<% if @board.id.present? %>

  <ul class="nav nav-tabs">
    <% @boards.each do |board| %>
      <% if board.id == session[:board_id].to_i %>
        <% @active = "active" %>
      <% else %>
        <% @active = "nil" %>
      <% end %>

      <%= content_tag :li, role: "presentation", class: @active do %>
        <%= link_to board.title, change_board_path(board), class: "active" %>
      <% end %>
    <% end %>
  </ul>


  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-3">
      <%= form_for @board do |f| %>
        <div class="input-group input-group-lg" style="padding-bottom:10px;">
          <span class="input-group-btn">
            <%= link_to "#", class: "btn btn-default" do %>
              <i class="fa fa-folder-o"></i>
            <% end %>
          </span>
          <%= f.text_field :title, class: 'form-control', placeholder: @board.title %>
          <span class="input-group-btn">
            <%= f.button :submit, class: "btn btn-default", data: { disable_with: "Edit" } do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <br>


  <div class="row">
    <div class="col-md-3">
      <div class="btn-group-vertical">
        <%= link_to "All", visible_all_board_path(@board), method: :post, class: @class_all %>
        <%= link_to "Active", visible_active_board_path(@board), method: :post, class: @class_active %>
        <%= link_to "Complete", visible_complete_board_path(@board), method: :post, class: @class_complete %>
        <%= link_to board_path(@board), class: "btn btn-default pull-right", method: :delete, data: { confirm: "確定刪除這個Board?" } do %>
          <i class="fa fa-folder-o"></i>
          <i class="fa fa-long-arrow-right"></i>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <%= simple_form_for [@board, @new_list] do |f| %>
        <div class="input-group" style="padding-bottom:10px;">
          <span class="input-group-btn">
            <%= link_to "#", class: "btn btn-default" do %>
              <i class="fa fa-check"></i>
            <% end %>
          </span>
          <%= f.input :content, label: false, autofocus: true, placeholder: "What need to be done?" %>
          <span class="input-group-btn">
            <%= f.submit "+", class: "btn btn-default", data: { disable_with: "+" } %>
          </span>
        </div>
      <% end %>

      <% @board.lists.each do |list| %>
        <% if list.id.present? %>
          <% if @board.visible == "All" || (@board.visible == "Active" && !list.done) || (@board.visible == "Complete" && list.done) %>
            <%= form_for [@board, list] do |f| %>
              <div class="input-group" style="padding-bottom:2px;">
                <span class="input-group-btn">
                  <% if list.done? %>
                    <%= link_to done_toggle_board_list_path(@board, list), method: :post, class: "btn btn-info" do %>
                      <i class="fa fa-check-circle fa-lg"></i>

                    <% end %>
                  <% else %>
                    <%= link_to done_toggle_board_list_path(@board, list), method: :post, class: "btn btn-default" do %>
                      <i class="fa fa-circle-thin fa-lg"></i>

                    <% end %>
                  <% end %>
                </span>
                <%= f.text_field :content, class: 'form-control' %>
                <span class="input-group-btn">
                  <%= link_to  board_list_path(@board, list), method: :delete, class: "btn btn-default" do %>
                    <i class="fa fa-trash"></i>

                  <% end %>
                </span>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
